.statistics{
    display: grid;
    width: min-content;
}

.title{
    display: flex;
    justify-content: center;
}

.statList{
    display: flex;
    padding: 0 40px;
}

.item{
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

